In [16]:
from pathlib import Path

date_path = "./"

txt_file = Path(date_path).glob("*.txt")
for file in txt_file:
    with open(file) as f:
        numbers = f.readline()
    print(numbers)

1

5

5

In [18]:
x = []

for i in range(0, 6):
    x.append(i)
    
print(x)

[0, 1, 2, 3, 4, 5]

In [19]:
names = ["田中", "斎藤", "佐藤"]
x = [i + "さん" for i in names]

print(x)

['田中さん', '斎藤さん', '佐藤さん']

In [21]:
x = [i for i in range(0, 10) if i % 2 != 0]
print(x)

[1, 3, 5, 7, 9]

In [22]:
foods = ["apple", "banana", "lemon"]
x = [i for i in foods if "a" in i]
print(x)

['apple', 'banana']

In [32]:
class SchoolReport:
    def __init__(self, st_name, math_score, jp_score, en_score):
        self.st_name = st_name
        self.math_score = math_score
        self.jp_score = jp_score
        self.en_score = en_score
        
    def calc_avg_score(self):
        sum_score = (self.math_score + self.jp_score + self.en_score)
        avg_score = sum_score / 3
        return avg_score
    
sr_a = SchoolReport("田中", 50, 30, 100)
avg_a = sr_a.calc_avg_score()
print(f"田中さんの3教科の平均点は{avg_a}です。")

sr_b = SchoolReport("佐藤", 100, 50, 80)
avg_b = sr_b.calc_avg_score()
print(f"佐藤さんの3教科の平均点は{avg_b}です。")

田中さんの3教科の平均点は60.0です。
佐藤さんの3教科の平均点は76.66666666666667です。

In [50]:
class BodyCondition:
    def __init__(self, name, weight, height):
        self.name = name
        self.weight = weight
        self.height = height
        
    def bmi_value(self):
        m_height = self.height / 100
        bmi = self.weight / (m_height)**2
        print(f"{self.name}さんのBMI値は{bmi}です。")
    
st_name = BodyCondition("田中", 55, 150)
bmi_a = st_name.bmi_value()

田中さんのBMI値は24.444444444444443です。

In [59]:
class WizardClass:
    def cast_spell(self):
        print("呪文を唱える")
        
class SwordClass:
    def attack_sword(self):
        print("剣で攻撃する")
        
class MagicSwordClass(WizardClass, SwordClass):
    pass

human = MagicSwordClass()
human.attack_sword()
human.cast_spell()

剣で攻撃する
呪文を唱える

In [82]:
class Person:
    def __init__(self, name, nationality, age):
        self.name = name
        self.nationality = nationality
        self.age = age
        
    def say_hello(self):
        my_name = input("あなたの名前を入力してください。")
        print(f"こんにちは、{self.name}さん。私は{my_name}です。")
        
human = Person("菅原", "日本", 36)
human.say_hello()

あなたの名前を入力してください。 田中美雪

こんにちは、菅原さん。私は田中美雪です。

In [93]:
sales_2020 = [400239, 560213, 542490]
sales_2019 = [489028, 400123, 442489]

for c, p in zip(sales_2020, sales_2019):
    result = (c/p-1)*100
    print(f"{result:.1f}%")

-18.2%
40.0%
22.6%

In [94]:
names = ["鈴木", "斎藤", "大川"]

for i, x in enumerate(names, start=1):
    print(f"{i}位:{x}")

1位:鈴木
2位:斎藤
3位:大川

In [96]:
sales_2020 = [1000, 1500, 1200]
sales_2019 = [900, 1200, 1500]

for c, p in zip(sales_2020, sales_2019):
    result = (c/p-1)*100
    print(f"{result:.1f}%")

11.1%
25.0%
-20.0%

In [100]:
names = ["田中", "佐藤", "鈴木"]

for i, x in enumerate(names, start=1):
    print(f"{i}位:{x}")

1位:田中
2位:佐藤
3位:鈴木

In [104]:
sales_2020 = [1000, 1500, 1300]
sales_2019 = [900, 1800, 1500]

for c, p in zip(sales_2020, sales_2019):
    result = (c/p-1)*100
    print(f"{result:.1f}%")

11.1%
-16.7%
-13.3%

In [106]:
names = ["田中", "佐藤", "鈴木"]

for i, x in enumerate(names, start=1):
    print(f"{i}位:{x}さん")

1位:田中さん
2位:佐藤さん
3位:鈴木さん

In [107]:
def print_banana():
    print("バナナ")
    
print_banana()

バナナ

In [108]:
def print_text(text):
    print(text)
    
print_text("sugawara")

sugawara

In [109]:
def question_text(text):
    q_text = text + "?"
    return q_text

result = question_text("菅原")
print(result)

菅原?

In [110]:
def san_kun_text(text1, text2):
    return_san = text1 + "さん"
    return_kun = text2 + "君"
    return return_san, return_kun

r1, r2 = san_kun_text("菅原", "ゆうき")
print(f"あなたは{r1}です。")
print(f"あなたは{r2}です。")

あなたは菅原さんです。
あなたはゆうき君です。

In [118]:
x = 0.123456
print(f"{x:.2f}")

0.12

In [119]:
x = 100
y = 150

result = f"合計は{x * y}です。"
print(result)

合計は15000です。

In [120]:
x = 123
result = f"No:{x:05}"
print(result)

No:00123

In [128]:
x = 10
y = 1

try:
    result = x / y
except ZeroDivisionError as e:
    print("ゼロでは割れません。")
    print(e)
except NameError as e:
    print("変数が定義されていません。")
    print(e)
else:
    print(result)
    print("正常に終了しました。")

10.0
正常に終了しました。

In [132]:
def total_price_1item(unit:int, quantity:int = 1) -> int:
    total_price = unit * quantity
    return total_price

result = total_price_1item(150, 3)
print(result)

450

In [136]:
from datetime import date
d = date(2023, 8, 23)
print(d)
print(d.weekday())

2023-08-23
2

In [146]:
from datetime import datetime
from datetime import timedelta, datetime

d = datetime(2021, 5, 2)
result = d - timedelta(days=1)

print(result)

2021-05-01 00:00:00

In [153]:
import jpholiday
from datetime import datetime

result = jpholiday.year_holidays(2023)
print(result)

[(datetime.date(2023, 1, 1), '元日'), (datetime.date(2023, 1, 2), '元日 振替休日'), (datetime.date(2023, 1, 9), '成人の日'), (datetime.date(2023, 2, 11), '建国記念の日'), (datetime.date(2023, 2, 23), '天皇誕生日'), (datetime.date(2023, 3, 21), '春分の日'), (datetime.date(2023, 4, 29), '昭和の日'), (datetime.date(2023, 5, 3), '憲法記念日'), (datetime.date(2023, 5, 4), 'みどりの日'), (datetime.date(2023, 5, 5), 'こどもの日'), (datetime.date(2023, 7, 17), '海の日'), (datetime.date(2023, 8, 11), '山の日'), (datetime.date(2023, 9, 18), '敬老の日'), (datetime.date(2023, 9, 23), '秋分の日'), (datetime.date(2023, 10, 9), 'スポーツの日'), (datetime.date(2023, 11, 3), '文化の日'), (datetime.date(2023, 11, 23), '勤労感謝の日')]

In [167]:
sales_2020 = [1500, 1200, 1000]
sales_2019 = [2000, 1500, 1000]

for c, p in zip(sales_2020, sales_2019):
    total = (c/p-1)*100
    print(f"{total:.1f}")

-25.0
-20.0
0.0

In [172]:
names = ["田中", "鈴木", "佐藤"]

for i, x in enumerate(names, start=1):
    print(f"{i}位:{x}さん")

1位:田中さん
2位:鈴木さん
3位:佐藤さん

In [176]:
x_set = {11, 222, 333}

y_list = [11, 333, 444, 555, 11]
y_set = set(y_list)

print(x_set)
print(y_set)

result = x_set | y_set
print(result)

{11, 333, 222}
{555, 11, 444, 333}
{555, 11, 444, 333, 222}

In [187]:
d = {"key1":1, "key2":2, "key3":3}
print(list(d.values()))
print(list(d.keys()))
print(list(d.items()))

[1, 2, 3]
['key1', 'key2', 'key3']
[('key1', 1), ('key2', 2), ('key3', 3)]

In [188]:
from datetime import date
t = date.today()
print(t)

2023-08-24

In [192]:
from datetime import datetime
n = datetime.now()
print(n.year, n.month, n.day)

2023 8 24

In [195]:
name = "菅原"
birthplace = "北海道"

print(f"私は{name}です。{birthplace}出身です。")
"私は{}です。{}出身です。".format(name, birthplace)

私は菅原です。北海道出身です。

'私は菅原です。北海道出身です。'

In [198]:
print("菅原です。\n36歳です。")

菅原です。
36歳です。

In [201]:
"hello".upper()
"WORLD".lower()

'world'

In [208]:
message = "こんにちは、\nわたしはAIです。"
messages = message.split("\n")
"".join(messages)

'こんにちは、わたしはAIです。'

In [210]:
message = "今日は晴れですね"
message.replace("晴れ", "雨")

'今日は雨ですね'

In [212]:
message = "今日はとても夜空が綺麗だ"
message.find("夜空")

6

In [1]:
numbers = [0, 3, 8, -4, 9, 1]

def isEven(number):
    if number % 2 == 0:
        print(f"{number}は偶数です")
        return True
    else:
        print(f"{number}は奇数です")
        return False
    
print(list(filter(isEven, numbers)))

0は偶数です
3は奇数です
8は偶数です
-4は偶数です
9は奇数です
1は奇数です
[0, 8, -4]