In [ ]:
#https://www.youtube.com/watch?v=Gh0qRBHbnVs&t=12s
#問題についての動画↑

In [6]:
#リストの数字が偶数か奇数教えてくれる関数を作成し、偶数のみリスト化する(filter関数を使用する)
numbers = [0, 3, 8, -4, 9, 1]

In [7]:
def isEven(number):
    if number % 2 == 0:
        print(f"{number}は偶数です。")
        return True
    else:
        print(f"{number}は奇数です。")
        return False
    
#第一引数に関数(TrueとFalseを出力する関数であること)第二引数にリスト名やタプル(イテラブルオブジェクト)のような反復が可能なオブジェクトを指定する。
#反復処理していく中でTrueで返される要素のみを抽出することが出来る。下記記述で偶数のみ抽出出来る。
list(filter(isEven, numbers))

0は偶数です。
3は奇数です。
8は偶数です。
-4は偶数です。
9は奇数です。
1は奇数です。

[0, 8, -4]

In [9]:
#キーのみ表示、全てのキーと値の表示(for文を使用する)、値の中に男性という文字列が存在するか(Trueで結果を出力)
dictionary = {"A":"今西", "B":"航平", "C":"男性", "D":"東京都", "E":"海外旅行"}

In [10]:
for key, value in dictionary.items():
    print(f"キーは{key}、値は{value}")
"男性" in dictionary.values()

キーはA、値は今西
キーはB、値は航平
キーはC、値は男性
キーはD、値は東京都
キーはE、値は海外旅行

True

In [ ]:
#int型の変数であるnumを用意し、numが以下条件の時にコロン(:)右側の文字列を出力する。

#numが正の値の場合:正の値です。
#numが0の場合:0です。
#numが負の値の場合:負の値です。

In [16]:
num = -10

if num > 0:
    print(f"{num}は正の値です。")
elif num == 0:
    print(f"0です。")
else:
    print(f"{num}は負の値です。")

-10は負の値です。

In [ ]:
#複数条件の指定をする。

#aは整数。
#aが0以上10未満かつ偶数の場合:一桁の偶数です。
#aが0未満かつ奇数の場合:負の奇数です。
#それ以外:整数です。

In [36]:
a = -3

if 0 <= a < 10 and a % 2 == 0:
    print(f"{a}は一桁の偶数です。")
elif a < 0 and a % 2 != 0:
    print(f"{a}は負の奇数です。")
else:
    print(f"{a}は整数です。")

-3は負の奇数です。

In [38]:
#以下リストからそれぞれ姓名を同時に出力する。
lasts = ["加藤", "佐藤", "田中"]
firsts = ["雄一", "拓也", "太郎"]

In [40]:
for last, first in zip(lasts, firsts):
    print(last + first)

加藤雄一
佐藤拓也
田中太郎

In [41]:
#下記リストから要素とインデックスを取得し、1番スタートで「xx番のyyです。」と出力する。　例) 1番の加藤です。
lasts = ["加藤", "佐藤", "田中"]

In [43]:
for i, last, in enumerate(lasts, 1):
    print(f"{i}番目の{last}です。")

1番目の加藤です。
2番目の佐藤です。
3番目の田中です。

In [ ]:
#9までの2の倍数のリストを作成する。その後その処理を内包表記で記載する。

In [47]:
#nums = []

#for i in range(5):
    #nums.append(2 * i)

#上記を内包表記すると
numbers = [2 * i for i in range(5)]
print(numbers)

[0, 2, 4, 6, 8]

In [ ]:
#10をnumで割ったときの結果を表示させる。0で割った(割れない)ときに「エラー」と出力する。

In [49]:
num = 4

try:
    print(f"計算結果:{10/num}")
except:
    print("エラー")

計算結果:2.5

In [ ]:
#0で割った(割れない)ときにZeroDivisionErrorを出力する。

In [50]:
num = 0

try:
    print(f"計算結果:{10/num}")
except ZeroDivisionError as e:
    print(e)

division by zero

In [55]:
#次の関数では変数a,bが数値のとき正常に計算が行われます。
#a,bが文字列の場合に例外処理(TypeError)をexcept追加して実装する。
#正常に処理できた場合に「正常に終了しました」と表示させる。
#例外も含めた全ての処理が完了したときに「全ての処理が終了しました」と表示させる。

def divide(a, b):
    try:
        print(f"計算結果:{a/b}")
    except ZeroDivisionError as e:
        print(e)
    except TypeError as e:
        print(e)

In [56]:
divide(10, "zero")

unsupported operand type(s) for /: 'int' and 'str'

In [ ]:
#次の関数でTypeErrorの例外処理が発生した場合、何も処理を行わずスルーする。

def divide(a, b):
    try:
        print(f"計算結果:{a/b}")
    except ZeroDivisionError as e:
        print(e)
    except TypeError as e:
        print(e)
    finally:
        print("全ての処理が終了しました")

In [ ]:
#Personクラスを作成しクラス変数はnationality:"japan"、クラスメソッドとしてsay_helloを実装する。
#say_helloメソッドでは「こんにちは、私の国籍は〇〇です」と出力されるようにする。

In [ ]:
#クラス内で使える変数は2種類ある。
#クラス変数とはクラス内でかつメソッドの外で宣言される変数のことを意味しそれ以外の変数をクラス変数と言う。
#クラス変数の宣言時は「self.変数」という形式は用いず「変数名=〇〇」という形式を用いる。

In [1]:
class Person:
    nationality = "Japan"
    def say_hello(self):
        print(f"こんにちは、私の国籍は{self.nationality}です。")

p = Person()
p.say_hello()

こんにちは、私の国籍はJapanです。

In [ ]:
#Personクラスにコンストラクタを使って引数を設定しnameというインスタンス変数を持たせる。
#say_my_name()という自分の名前を出力するクラスメソッドを実装する。

In [7]:
class Person:
    def __init__(self, name):
        self.name = name
        
    def say_my_name(self):
        print(f"私の名前は{self.name}です。")

sugawara = Person("菅原")
sugawara.say_my_name()

私の名前は菅原です。

In [ ]:
#Studentクラスにコンストラクタを使って引数を設定しnameというインスタンス変数を持たせる。
#avg()という数学と英語の平均点を算出するクラスメソッドを作成する。

In [64]:
class Student:
    def __init__(self, name):
        self.name = name
        
    def avg(self, math, eng):
        print(f"数学と英語の平均点は{(math + eng) / 2}です。")
    
a001 = Student("sato")
print(a001.name)

a002 = Student("tanaka")
print(a002.name)

a001.avg(100, 50)

sato
tanaka
数学と英語の平均点は75.0です。

In [ ]:
#リスト内包表記:リストのようなシーケンスオブジェクトの各要素に対して処理を行いたいときに便利
#[式 for 任意の変数 in イテラブルオブジェクト　if 〇〇]

In [ ]:
#1～5までのリストを作成し、4と5だけに2を乗算して表示させる。
#上記をリスト内包表記する。

In [1]:
my_list = [1, 2, 3, 4, 5]

my_list = [x * 2 for x in my_list if x > 3]
print(my_list)

[8, 10]

In [5]:
#1～10までの値にそれぞれ2乗した後に空のリストに追加して表示させる。
#上記をリスト内包表記する。

In [4]:
result = [i ** 2 for i in range(1, 11)]
print(result)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#1～5までの値にそれぞれ2を加算して奇数のみ表示させる。

In [10]:
result = [i + 2 for i in range(1, 6) if i % 2 != 0]
print(result)

[3, 5, 7]

In [ ]:
#内包表記で三項演算子(条件演算子)でif文を一行を記述する。
#[真のときの値 if 条件式 else 偽のときの値 for 任意の変数 in イテラブルオブジェクト]

In [ ]:
#1～10までの値で奇数には"odd"、偶数には"even"を表示させる。
#上記のリストを内包表記する。

In [2]:
result = ["odd" if i % 2 == 1 else "even" for i in range(1, 10)]
print(result)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [ ]:
#ラムダ式:関数オブジェクトを作る方法で名前を付けるほどでない小さい関数を使うときにつかう。
#lambda 引数1, 引数2:処理 ※一行で記述できる処理を書くルール

In [ ]:
#ラムダ式を使って「菅原は学生です」と表示させる。

In [4]:
func = lambda x, y: print(f"{x}は{y}です。")
func("菅原", "学生")

菅原は学生です。

In [ ]:
#map関数:繰り返しオブジェクトの全ての要素にある処理を行う関数。
#map(関数, 繰り返しオブジェクト) ※第一引数の部分(関数の部分)を直接ラムダ式で記述するパターンがよくある。

In [8]:
#filter関数:繰り返しオブジェクトの中である条件がTrueになる要素だけを抽出する関数。
#filter(関数, 繰り返しオブジェクト) ※第一引数の部分(関数の部分)を直接ラムダ式で記述するパターンがよくある。
#関数を再利用したい前提ならdefで関数を記述したほうが良い。

In [ ]:
#ラムダ式とmap関数を使ってn1とn2のリストを名前を結合して表示させる。
n1 = ["鈴木", "斎藤", "田中"]
n2 = ["太郎", "次郎", "三郎"]

In [5]:
n1 = ["鈴木", "斎藤", "田中"]
n2 = ["太郎", "次郎", "三郎"]

result = list(map(lambda x, y: x + y + "さん", n1, n2))
print(result)

['鈴木太郎さん', '斎藤次郎さん', '田中三郎さん']

In [ ]:
#ラムダ式とfilter関数を使ってnumのリストから10以上の要素だけ抽出する。
num = [1, 5, 10, 15, 20, 25, 30]

In [7]:
num = [1, 5, 10, 15, 20, 25, 30]

result = list(filter(lambda x: x >= 10, num))
print(result)

[10, 15, 20, 25, 30]

In [ ]:
#正規表現を使って以下のリストから電話番号の数字を検索する。
num_list = ["090-3898-7597", "1234-56-7890", "123456789", "090-aaaa-bbbb"]

#各re関数は re.○○○(パターン, 検索したいテキスト)
#^ 文字列の先頭がマッチするか?
#$ 文字列の末尾がマッチするか?
#○|●(縦棒) ○または●とマッチするか?
#[0-9]{1,4} 0から9の間の数字を1回以上4回繰り返し検索する(15,215,3256など) ※[0-9]は\dと記述してもOK
#https://biotech-lab.org/articles/11916 正規表現の詳細はこちら
# "(a)は(b)です"のテキストをfindall関数でくくると[a,b]のリストとして出力される。
# "(aはbです)"のテキストをfindall関数でくくると[aはbです]のリストとして出力される。
#\wは英数字、日本語など

In [2]:
import re

ph_num = "^\d{4}-\d{2}-\d{4}$"
mb_num = "^\d{3}-\d{4}-\d{4}$"

ph_num_pattern = re.compile(ph_num)
mb_num_pattern = re.compile(mb_num)

num_list = ["090-3898-7597", "1234-56-7890", "123456789", "090-aaaa-bbbb"]

for target in num_list:
    
    #ph_numのパターンと同じじゃなかったらNoneが出力される。
    if ph_num_pattern.match(target) != None:
        print("固定電話:", target)
        
    #mb_numのパターンと同じじゃなかったらNoneが出力される。
    elif mb_num_pattern.match(target) != None:
        print("携帯電話:", target)
    
    #上記2つ以外の場合
    else:
        print("電話番号ではありません", target)

携帯電話: 090-3898-7597
固定電話: 1234-56-7890
電話番号ではありません 123456789
電話番号ではありません 090-aaaa-bbbb

In [ ]:
#何月何日かと食べ物をそれぞれリストとして出力する。

In [1]:
import re

text = "私は10月11日は焼肉を食べて、12月25日は寿司を食べて、4月13日はたらこを食べた"
pattern1 = "\d{1,2}月\d{1,2}日"
pattern2 = "(\d{1,2}月\d{1,2}日)は(\w+?)を食べ"
result1 = re.findall(pattern1, text)
result2 = re.findall(pattern2, text)

print(result1)
print(result2)

['10月11日', '12月25日', '4月13日']
[('10月11日', '焼肉'), ('12月25日', '寿司'), ('4月13日', 'たらこ')]

In [ ]:
#file_list = ["aaa.xlsx", "bbb.csv", "ccc.xlsx"]
#上記リストから自作関数とfor文を使って"xlsx"のファイルのみ取り出したリストを作成する。

In [2]:
def file_func(file_name):
    if "xlsx" in file_name:
        return True
    else:
        return False
    
file_list = ["aaa.xlsx", "bbb.csv", "ccc.xlsx"]
new_list =[]

for i in file_list:
    if file_func(i):
        new_list.append(i)
        
print(new_list)

['aaa.xlsx', 'ccc.xlsx']

In [ ]:
employees = [
    {"name": "John", "age": 21},
    {"name": "Kevin", "age": 45},
    {"name": "Amy", "age": 21},
    {"name": "Ryan", "age": 30}
]
#上記リスト(辞書型)からmap関数とラムダ式を使って"age"が25歳以上の名前のみ取り出す。

In [1]:
employees = [
    {"name": "John", "age": 21},
    {"name": "Kevin", "age": 45},
    {"name": "Amy", "age": 21},
    {"name": "Ryan", "age": 30}
]

result = map(lambda x : x["name"], filter(lambda x : x["age"] > 25, employees))
print(list(result))

['Kevin', 'Ryan']

In [ ]:
#リストでアンパック

In [3]:
def func(time, food, day="今日"):
    print(f"{day}は{time}に{food}を食べます")

l = ["3時", "ドーナツ"]
func(*l)

今日は3時にドーナツを食べます

In [ ]:
#関数側でアンパックを行う。
#https://note.com/chisa_pc_inst/n/n67ad3bcabc58

In [2]:
def func(*args, day="今日"):
    print(f"{day}は{args[0]}に{args[1]}を食べます")
    
func("3時", "ドーナツ")

今日は3時にドーナツを食べます

In [ ]:
#import sysをインポートして
#sys.exc_info()[0]でエラーの種類を返してくれる。

In [11]:
import sys
try:
    a = 10
    b = 0
    a / b
except:
    print("エラーが出ました : ", sys.exc_info()[0])

エラーが出ました :  <class 'ZeroDivisionError'>