In [2]:
import datetime

#現在の日付
date1 = datetime.date.today()
print(date1)

#現在の日付と日時
date2 = datetime.datetime.now()
print(date2)

2023-10-03
2023-10-03 23:25:18.177141

In [3]:
today = datetime.date.today()
after_tomorrow = datetime.timedelta(days=2)
print(today + after_tomorrow)

2023-10-05

In [17]:
today = datetime.date.today()
tomorrow = today + datetime.timedelta(days=1)

print("今日は明日よりも後:" + str(today > tomorrow))

今日は明日よりも後:False

In [ ]:
# today = datetime.date.today()
tomorrow = today + datetime.timedelta(days=1)
yestarday = today - datetime.timedelta(days=1)
 
print("今日は明日よりも後:"+str(today>tomorrow))
print("昨日は今日よりも前:" +str(yestarday<today))

今日は明日よりも後:False
昨日は今日よりも前:True

In [19]:
today = datetime.date.today()
af = today.strftime("%Y%m%d")

print(af)

20231003

In [22]:
re = lambda i: i * 2
print(re(10))

20

In [24]:
def sample(i):
    return i * 2

print(sample(10))

20

In [25]:
def sample(func):
    return func(10)

print(sample(lambda i : i * 2))

20

In [26]:
l = []
for x in range(10):
    l.append(x**2)
print(l)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [27]:
l = list(map(lambda x : x**2, range(10)))
print(l)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [28]:
l1 = [3, 6, -3]
l2 = list(map(str, l1))
print(l2)

['3', '6', '-3']

In [31]:
list1 = list(range(1, 6))

def multi(x):
    y = x * 2
    return y

list2 = map(multi, list1)
list2_list = list(map(multi, list1))
print(list2_list)

list3 = ("キリン", "ライオン", "ゾウ", "トラ")

def list_mk(x):
    return x.lower()

list4 = map(list_mk, list3)
list4_tuple = tuple(map(list_mk, list3))

print(list4_tuple)
print(type(list4_tuple))

[2, 4, 6, 8, 10]
('キリン', 'ライオン', 'ゾウ', 'トラ')
<class 'tuple'>

In [32]:
list1 = [1, 300, 240, 30, 40, 99, 100,]

def answer(num):
    if num < 100:
        return "100より小さいです"
    elif num == 100:
        return "100です"
    elif num > 100:
        return "100より大きいです"
    
for result in map(answer, list1):
    print(result)

100より小さいです
100より大きいです
100より大きいです
100より小さいです
100より小さいです
100より小さいです
100です

In [33]:
list_int = [100, 200, 300, 24, 56, 234]
list_str = ", ".join(map(str, list_int))
print(list_str)
print(type(list_str))

100, 200, 300, 24, 56, 234
<class 'str'>

In [36]:
animals = ["ライオン", "パンダ", "キリン", "コアラ"]

print(list(map(lambda animal : animal.lower(), animals)))

num1 = [1, 2, 3, 4]
num2 = [13, 45, 67, 89]

result = map(lambda x, y : x * y, num1, num2)
print(list(result))

['ライオン', 'パンダ', 'キリン', 'コアラ']
[13, 90, 201, 356]

In [37]:
list_test = [11, 0.3, -5, 3, -1]
print(list_test)

print(list(map(abs, list_test)))

[11, 0.3, -5, 3, -1]
[11, 0.3, 5, 3, 1]

In [40]:
list_test = [11, 0.3, -5, 3, -1]
n_list = []

for i in list_test:
    n_list.append(abs(i))
print(n_list)

[11, 0.3, 5, 3, 1]

In [41]:
def square(num):
    return num * num

l = [11, 0.3, -5, 3, -1]

print(list(map(square, l)))

[121, 0.09, 25, 9, 1]

In [42]:
l = [11, 0.3, -5, 3, -1]

print(list(map(lambda num : num * num, l)))

[121, 0.09, 25, 9, 1]

In [43]:
l = [11, 0.3, -5, 3, -1]

print(sum(map(lambda num : num * num, l)))

156.09

In [44]:
fruits = ["apple", "banana", "orange", "mango", "lemon"]

search_char = "a"

result = sum(map(lambda fruit : search_char in fruit, fruits))
print(result)

4

In [45]:
num_str = "5 10 -2 1"

result = list(map(int, num_str.split()))
print(result)

[5, 10, -2, 1]

In [46]:
result = map(int, [1, 2, 3,])
x = list(result)
print(x)

[1, 2, 3]

In [48]:
result = [int(i) for i in [1, 2, 3]]
print(result)

[1, 2, 3]

In [50]:
def add_five(m):
    return m + 5

L = [1, 2, 3]
R = map(add_five, L)
print(*R)

6 7 8

In [51]:
result = map(lambda m : m + 5, [1, 2, 3])
print(*result)

6 7 8

In [52]:
L = map(lambda s, t : s + t, ["A", "B", "C"], ["x", "y", "z"])
print(*L)

Ax By Cz

In [54]:
print(*range(0, 5))

0 1 2 3 4

In [58]:
def double(x):
    return x * 2

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

double_numbers = map(double, numbers)
double_numbers

for i in range(3):
    date = next(double_numbers)
    print(date)

2
4
6

In [59]:
result = list(map(lambda x : x * 2, numbers))
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [60]:
def add_yen(x):
    return str(x) + "円"

price_list = [740, 1000, 950]

print(list(map(add_yen, price_list)))

['740円', '1000円', '950円']

In [62]:
def add(x, y):
    return x + y

listA = [1, 2, 3]
listB = [10, 20, 30]

print(list(map(add, listA, listB)))

[11, 22, 33]

In [63]:
ls = [3, -8, 1, 0, 7, -5,]

def invert(x):
    return -x

sorted(ls, key=invert)

[7, 3, 1, 0, -5, -8]

In [64]:
sorted(ls, key = lambda x : -x)

[7, 3, 1, 0, -5, -8]

In [67]:
def log_func(func):
    def inner(*args):
        print("引数:", *args)
        return func(*args)
    return inner
    
@log_func    
def add_num(a, b):
    return a + b

print(add_num(3, 4))

引数: 3 4
7

In [78]:
fruits = ["apple", "banana", "lemon", "orange"]
l = []

for i in fruits:
    l.append(i.upper())
    
print(l)

['APPLE', 'BANANA', 'LEMON', 'ORANGE']

In [80]:
int_l = [1, -2, 3, -4, -5]
l = []

for i in int_l:
    l.append(abs(i))
    
print(l)

[1, 2, 3, 4, 5]

In [81]:
int_l = [1, -2, 3, -4, -5]

print(list(map(abs, int_l)))

[1, 2, 3, 4, 5]

In [84]:
fruits = ["apple", "banana", "lemon", "orange"]

print(list(map(len, fruits)))

[5, 6, 5, 6]

In [87]:
def power2(x):
    return x * x

nums = [1, 2, 3, 4, 5]

print(list(map(power2, nums)))

result = [power2(i) for i in nums]
print(result)

result1 = [i * i for i in nums]
print(result1)

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [88]:
def run_func(func):
    func()
    
def good_mn():
    print("おはよう")
    
run_func(good_mn)

おはよう

In [91]:
# 合成関数 y = √f(x)
def sqr(func):
    def inner(x):
        return func(x)**0.5
    return inner

# mathモジュールのインポート
import math

# y = √logx
y = sqr(math.log)

# y(2) = √log(2)
print(y(3))
# 0.8325546111576977

1.048147073968205

In [92]:
d = {k: v for k, v in zip(keys, value)}
print(d)

NameError: name 'keys' is not defined

In [93]:
L = [x for x in range(3) if x < 2]
print(L)

[0, 1]

In [96]:
d = []

for i in range(5):
    d.append(i*5)
    
print(d)

dist = [i * 5 for i in range(5)]
print(dist)

[0, 5, 10, 15, 20]
[0, 5, 10, 15, 20]

In [99]:
dist = []

for i in range(5):
    if i % 2 == 0:
        dist.append(i)
        
print(dist)

dist = [i for i in range(5) if i % 2 == 0]
print(dist)

[0, 2, 4]
[0, 2, 4]

In [106]:
dist = []
for x in range(2):
    for y in range(3):
        dist.append((x,y))
        
print(dist)

dist = [(x, y) for x in range(2) for y in range(3)]
print(dist)

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2)]
[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2)]

In [113]:
dist = []
for x in range(3):
    tmp_dist = []
    for y in range(x):
        tmp_dist.append(y)
    dist.append(tmp_dist)
print(dist)

dist = [[j for j in range(i)] for i in range(3)]
print(dist)

[[], [0], [0, 1]]
[[], [0], [0, 1]]

In [115]:
dist = {}
for k, v in zip("abc", range(3)):
    dist[k] = v
print(dist)

dist = {k : v for k, v in zip("abc", range(3))}
print(dist)

{'a': 0, 'b': 1, 'c': 2}
{'a': 0, 'b': 1, 'c': 2}

In [117]:
dist = set()
for i in range(5):
    dist.add(i % 3)
print(dist)

dist = {i % 3 for i in range(5)}
print(dist)

{0, 1, 2}
{0, 1, 2}

In [119]:
l = []
for i in range(10):
    l.append(i)
    
print(l)

l = [i for i in range(10)]
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [121]:
l = [i * i for i in range(10)]
print(l)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [127]:
l = {i : i * i for i in range(10)}
print(l)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [128]:
dict = {}

for i in range(10):
    dict[i] = i * i
    
print(dict)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [130]:
comp_set = set()

for i in range(10):
    comp_set.add(i * i)
    
print(comp_set)

comp_set = {i * i for i in range(10)}
print(comp_set)

{0, 1, 64, 4, 36, 9, 16, 49, 81, 25}
{0, 1, 64, 4, 36, 9, 16, 49, 81, 25}

In [132]:
l = []

for i in range(1, 10):
    for ii in range(1, 10):
        l.append(i * ii)
        
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [133]:
l = [i * ii for i in range(1, 10) for ii in range(1, 10)]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [135]:
l = []

for i in range(10):
    if i % 2 == 0:
        l.append(i)
        
print(l)

l = [i for i in range(10) if i % 2 == 0]
print(l)

[0, 2, 4, 6, 8]
[0, 2, 4, 6, 8]

In [137]:
def test(value1, value2):
    print("計算開始")
    result = 0
    
    try:
        result = value1 + value2
    except:
        print("計算不可")
    finally:
        print("終了")
        
    return result

test(10, a)

計算開始
計算不可
終了

0

In [138]:
def divide(x, y):
    if y == 0:
        raise ValueError("0では割れません")
    return x / y

try:
    result = divide(10, 0)
except ValueError as e:
    print(e)

0では割れません

In [140]:
class exc_class(exc):
    pass

def do_something(date):
    if date is None:
        raise exc_class("データがNoneです。処理できません。")
        
try:
    do_something(None)
except exc_class as e:
    print(f"エラーが発生しました。{e}")
    
a = exc_class(a)

NameError: name 'exc' is not defined

In [142]:
def divide(x, y):
    return x / y

print(divide(1, 0))

ZeroDivisionError: division by zero

In [157]:
def age_test(age):
    if age < 0:
        raise ValueError("0以下は選択できません")
    return f"私は{age}歳です"
        
age_test(25)

'私は25歳です'

In [151]:
def divide(x, y):
    try:
        result = x / y
    except ZeroDivisionError:
        raise ValueError("0では割り切れません")
        
    return result

print(divide(1, 0))

ValueError: 0では割り切れません

In [158]:
def square_root(x):
    if x < 0:
        raise ValueError("aaaaa")
    return x * 0.5

print(square_root(10))

5.0

In [160]:
try:
    for i in [-2, -1, 0, 3]:
        print(1 / i)
except ZeroDivisionError as e:
    print(e)

-0.5
-1.0
division by zero

In [161]:
def divide(a, b):
    try:
        a / b
    except ZerodivisionError as e:
        print("catch ZeroDivisionError:", e)
        
divide(1, 0)

NameError: name 'ZerodivisionError' is not defined

In [163]:
def divide(a, b):
    try:
        print(a / b)
    except ZeroDivisionError as e:
        print("catch ZeroDivisionError:", e)
    except TypeError as e:
        print("catch TypeError", e)
        
divide(1, 0)
divide("a", "b")

catch TypeError unsupported operand type(s) for /: 'int' and 'str'
catch TypeError unsupported operand type(s) for /: 'str' and 'str'

In [166]:
def divide(a, b):
    try:
        print(a / b)
    except ZeroDivisionError as e:
        print("catch ZeroDivisionError:", e)
    else:
        print("finish (no error)")
        
divide(1, 2)
divide(1, 0)

0.5
finish (no error)
catch ZeroDivisionError: division by zero

In [167]:
def test():
    print("こんにちは")
    
test()

こんにちは

In [168]:
def deco(func):
    def wrapper(*args, **kwargs):
        print("--start--")
        func(*args, **kwargs)
        print("--end--")
    return wrapper

@deco
def test():
    print("Hello")
    
test()

--start--
Hello
--end--

In [172]:
def deco(func):
    import os
    def wrapper(*args, **kwargs):
        res = "--start--" + os.linesep
        res += func(*args, **kwargs) + "!" + os.linesep
        res += "--end--"
        return res
    return wrapper

@deco
def test():
    return "Hello"

test()

'--start--\r\nHello!\r\n--end--'

In [176]:
def deco_func(f):
    def new_func():
        print("start")
        val = f()
        print("end")
        return val
    return new_func

def my_func():
    ret = 0
    for i in range(1, 11):
        ret += i
    print("my_func実行中")
    return ret

f = deco_func(my_func)
x = f()
print(x)

start
my_func実行中
end
55

In [1]:
def deco_func(f):
    def new_func():
        print("開始")
        f()
        print("終了")
        return new_func

@deco_func
def my_func():
    ret = 0
    for i in range(1, 11):
        ret += i
        print("my_func実行中")
        return ret
    
x = my_func()
print(x)

TypeError: 'NoneType' object is not callable