In [2]:
original = list(range(10))

map_list = list(map(lambda x : x ** 2, original))

print(map_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [15]:
def fizz_buzz(number):
    if number % 3 == 0 and number % 5 == 0:
        return "Fizz Buzz"
    elif number % 3 == 0:
        return "Fizz"
    elif number % 5 == 0:
        return "Buzz"
    else:
        return number
    
result = [print(x) for x in map(fizz_buzz, range(10))]
print(result)

Fizz Buzz
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
[None, None, None, None, None, None, None, None, None, None]

In [17]:
l = [1, 2, 3, 4]

def double(x):
    return x * 2

result = list(map(lambda x : x * 2, l))
print(result)

[2, 4, 6, 8]

In [19]:
arr = [i for i in range(10) if i % 3 == 0]
print(arr)

[0, 3, 6, 9]

In [20]:
val = list(filter(lambda x : x % 3 == 0, range(10)))
print(val)

[0, 3, 6, 9]

In [21]:
def  func(x):
    return x > 5

l = list(filter(func, [7, 4, 2, 10]))
print(l)

[7, 10]

In [22]:
result = list(filter(lambda x : x > 5, [7, 4, 2, 10]))
print(result)

[7, 10]

In [34]:
employees = [
    {"name": "John", "age": 21},
    {"name": "Kevin", "age": 45},
    {"name": "Amy", "age": 21},
    {"name": "Ryan", "age": 30}
]

result = map(lambda x : x["name"], filter(lambda x : x["age"] > 25, employees))
print(list(result))

['Kevin', 'Ryan']

In [29]:
result = map(lambda x: x["name"], (filter(lambda x: x["age"] > 25, employees)))
print(list(result))
# ['Kevin', 'Ryan']

['Kevin', 'Ryan']

In [35]:
a = [1, 2, 3, 4, 5, 6]
b = list(filter(lambda x : x % 3 == 0, a))
print(b)

[3, 6]

In [38]:
price = [3000, 2500, 10500, 4300]

l = []

for i in price:
    l.append(int(i * 1.08))
    
print(l)

[3240, 2700, 11340, 4644]

In [40]:
price = [3000, 2500, 10500, 4300]

l = list(map(lambda x : int(x * 1.08), price))
print(l)

[3240, 2700, 11340, 4644]

In [41]:
price = [3000, 2500, 10500, 4300]

l = []

for i in price:
    if i > 3500:
        l.append(i)
        
print(l)

[10500, 4300]

In [46]:
a = filter(lambda x : x > 3500, price)
a.sort()
print(a)

AttributeError: 'filter' object has no attribute 'sort'

In [48]:
def checkPrice(price):
    return price > 3500

price = [3000, 2500, 10500, 4300]

z = list(filter(checkPrice, price))
print(z)

[10500, 4300]

In [52]:
prices={
    'a':3000,
    'b':2500,
    'c':10500,
    'd':4300,}

a = list(filter(lambda k : k > 3500, price))
print(a)

[10500, 4300]

In [53]:
print((lambda a, b : a * b)(1.1, 1.2))

1.32

In [57]:
def add_def(a, b = 1):
    return a + b

print(add_def(3, 4))

add_lambda = lambda a, b = 1 : a + b
print(add_lambda(3, 4))

7
7

In [59]:
result = lambda x : "even" if x % 2 == 0 else "odd"
print(result(4))

even

In [60]:
l = [0, 1, 2, 3]

a = list(map(lambda x : x ** 2, l))
print(a)

[0, 1, 4, 9]

In [62]:
l = [0, 1, 2, 3]

re = [i ** 2 for i in l]
print(re)

[0, 1, 4, 9]

In [64]:
l = [0, 1, 2, 3]

even = list(filter(lambda x : x % 2 == 0, l))
print(even)

[0, 2]

In [67]:
l = [0, 1, 2, 3]

even = [i for i in l if i % 2 == 0]
print(even)

[0, 2]

In [68]:
def suqare(x):
    result = x ** 2
    return result

obj = suqare(3)
print(obj)

9

In [70]:
re = lambda x : x ** 2
print(re(3))

9

In [71]:
y = lambda x, y : x * y
print(y(3, 2))

6

In [72]:
nums = [100, 200, 50, 40]

l = []

for i in nums:
    if i > 90:
        l.append(i)
        
print(l)

[100, 200]

In [74]:
nums = [100, 200, 50, 40]

re = list(filter(lambda x : x > 90, l))
print(re)

[100, 200]

In [75]:
l = ['山崎','鈴木','浅村','島内']

def add_func(name):
    result = name + "さん"
    return result

re = list(map(add_func, l))
print(re)

['山崎さん', '鈴木さん', '浅村さん', '島内さん']

In [76]:
l = ['山崎','鈴木','浅村','島内']

re = list(map(lambda x : x + "さん", l))
print(re)

['山崎さん', '鈴木さん', '浅村さん', '島内さん']

In [78]:
nums = [1, 2, 3, 4, 5, 6]

re = list(filter(lambda x : x % 3 == 0, nums))
print(re)

[3, 6]

In [79]:
nums = [1, 2, 3, 4, 5, 6]

re = list(map(lambda x : x ** 2, nums))
print(re)

[1, 4, 9, 16, 25, 36]

In [80]:
l = []

for i in range(10):
    l.append(i ** 2)
print(l)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [81]:
a = list(map(lambda x : x ** 2, range(10)))
print(a)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [82]:
num = [1, 2, 3, 4, 5]

for i in map(lambda x : x ** 2, num):
    print(i)

1
4
9
16
25

In [84]:
num = [1, 2, 3, 4, 5]

a = [i ** 2 for i in num]
print(a)

[1, 4, 9, 16, 25]

In [85]:
num = [1, 2, 3, 4, 5]

for i in filter(lambda x : x % 2 != 0, num):
    print(i)

1
3
5

In [88]:
num = [1, 2, 3, 4, 5]

result = [i for i in num if i % 2 != 0]
print(result)

[1, 3, 5]

In [89]:
a = list(map(lambda x : (x * 2) % 5, [1, 2, 3]))
print(a)

[2, 4, 1]

In [91]:
result = [(i * 2) % 5 for i in [1, 2, 3]]
print(result)

[2, 4, 1]

In [92]:
result = [str(i) for i in [1, 2, 3]]
print(result)

['1', '2', '3']

In [94]:
result = list(filter(lambda x : x % 2, [1, 2, 3]))
print(result)

[1, 3]

In [95]:
result = [i for i in [1, 2, 3] if i % 2 != 0]
print(result)

[1, 3]

In [98]:
a = list(map(lambda x: int(x) * 2, filter(lambda x: int(x) % 3, '299792458')))
print(a)

[4, 14, 4, 8, 10, 16]

In [100]:
result = list(map(lambda x : int(x) * 2, filter(lambda x : int(x) % 3, "123456")))
print(result)

[2, 4, 8, 10]

In [112]:
def fib(n):
    if n in {1,2}:
        return 1
    else:
        return (n - 1) + fib(n - 2) 
fib(4)

4

In [114]:
def func(x):
    l = []
    for i in x:
        l.append(i * 3)
    return l

t_list = [1, 2, 3, 4]

func(t_list)

[3, 6, 9, 12]

In [116]:
def func(x):
    l = []
    for i in x:
        l.append(i * 3)
    return l

list_t = [1, 2, 3, 4]
func(list_t)

[3, 6, 9, 12]

In [119]:
def func(x):
    l = []
    for i in x:
        l.append(int(i))
    return l
        
t_list = ["1", "2", 3]
func(t_list)

[1, 2, 3]

In [120]:
def func(x):
    return [int(i) for i in x]

t_list = ["1", "2", 3]
func(t_list)

[1, 2, 3]

In [121]:
def func(x):
    l = []
    for i in x:
        if isinstance(i, int):
            l.append(i)
    return l

t_list = ["1", "2", 3]
func(t_list)

[3]

In [123]:
def func(x):
    return [i for i in x if not isinstance(i, str)]

t_list = ["1", "2", 3]
func(t_list)

[3]

In [124]:
l = []
for i in range(10):
    if i % 2 == 0:
        l.append(i)
    else:
        l.append(str(i))
        
print(l)

[0, '1', 2, '3', 4, '5', 6, '7', 8, '9']

In [126]:
result = [i if i % 2 == 0 else str(i) for i in range(10)]
print(result)

[0, '1', 2, '3', 4, '5', 6, '7', 8, '9']

In [127]:
dict_l = {str(i):i for i in range(10)}
print(dict_l)

{'0': 0, '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9}

In [128]:
label = ["kinoko", "takenoko", "suginoko"]
feature = ["yama", "sato", "mura"]

{i:j for i, j in zip(label, feature)}

{'kinoko': 'yama', 'takenoko': 'sato', 'suginoko': 'mura'}

In [129]:
dict_l = {str(i) if i % 2 == 0 else i : i if i % 2 == 0 else str(i) for i in range(10)}
print(dict_l)

{'0': 0, 1: '1', '2': 2, 3: '3', '4': 4, 5: '5', '6': 6, 7: '7', '8': 8, 9: '9'}

In [132]:
dict_l = {str(i):i for i in range(10) if i % 2 == 0}
print(dict_l)

{'0': 0, '2': 2, '4': 4, '6': 6, '8': 8}

In [133]:
dict_l= {str(i):i for i in range(10)}
print(dict_l)

{'0': 0, '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9}

In [136]:
list(map(lambda i : i ** 2, range(1, 11)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [137]:
result = [i ** 2 for i in range(1, 11)]
print(result)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [138]:
result = list(filter(lambda i : i % 2 == 1, range(1, 11)))
print(result)

[1, 3, 5, 7, 9]

In [139]:
result = [i for i in range(1, 11) if i % 2 == 1]
print(result)

[1, 3, 5, 7, 9]

In [140]:
re = list(map(lambda j : j ** 2, filter(lambda i : i % 2 == 1, range(1, 11))))
print(re)

[1, 9, 25, 49, 81]

In [141]:
re = [i ** 2 for i in range(1, 11) if i % 2 == 1]
print(re)

[1, 9, 25, 49, 81]

In [143]:
l = []

for i in range(3):
    in_l = []
    for i in range(10):
        in_l.append(i)
    l.append(in_l)
print(l)

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]

In [144]:
re = [[i for i in range(10)]for i in range(3)]
print(re)

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]

In [147]:
re = [[i for i in range(3)]]
print(re)

[[0, 1, 2]]

In [148]:
d = {k : k ** 2 for k in range(5)}
print(d)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [153]:
kingdom = ["信","王賁","蒙恬","蒙武","王翦","桓騎","秦王"]

l = [i for i in kingdom if i.startswith("王")]
print(l)

['王賁', '王翦']

In [154]:
kingdom = ["信","王賁","蒙恬","蒙武","王翦","桓騎","秦王"]

l = []
for i in kingdom:
    if i.startswith("王"):
        l.append(i)
print(l)

['王賁', '王翦']

In [155]:
kingdom = ["信","王賁","蒙恬","蒙武","王翦","桓騎","秦王"]

re = [i if i.startswith("王") else "その他" for i in kingdom]
print(re)

['その他', '王賁', 'その他', 'その他', '王翦', 'その他', 'その他']

In [156]:
num = [1, 1, 1, 2]

re = {i for i in num}
print(re)

{1, 2}

In [161]:
gafa = ["google","amazon","facebook","apple"]
product = ["検索","通販","SNS","iPhone"]

dic = {}
for k, v in zip(gafa, product):
    dic[v] = k
    
print(dic)

{'検索': 'google', '通販': 'amazon', 'SNS': 'facebook', 'iPhone': 'apple'}

In [163]:
dic = {k:v for k, v in zip(gafa, product)}
print(dic)

{'google': '検索', 'amazon': '通販', 'facebook': 'SNS', 'apple': 'iPhone'}

In [166]:
dic = {k:v for k, v in enumerate(gafa, 1)}
print(dic)

{1: 'google', 2: 'amazon', 3: 'facebook', 4: 'apple'}

In [168]:
class animal():
    def __init__(self, name):
        self.name = name
        
class dog(animal):
    def cry(self):
        print(self.name + "ワン")
        
obj = dog("太郎")
obj.cry()

太郎ワン

In [171]:
class animal():
    def __init__(self, name):
        self.name = name
    def message(self):
        print(f"I'm a{self.name}")
              
class dog(animal):
    def message(self):
        print(f"I'm a{self.name}bow-bow")
        
tama = dog("太郎")
tama.message()
 
tora = animal("次郎")
tora.message()

I'm a太郎bow-bow
I'm a次郎

In [173]:
class Person():
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def say_name(self):
        print(f"私の名前は{self.name}です。年齢は{self.age}です。")
        
class J_Person(Person):
    def __init__(self, name, age):
        super().__init__(name, age)
        
    def say_hello(self):
        print("こんにちは")
        
yamada = J_Person("太郎", 25)
yamada.say_name()
yamada.say_hello()

私の名前は太郎です。年齢は25です。
こんにちは

In [176]:
class Person():
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def introduce(self):
        print(f"私の名前は{self.name}です。{self.age}歳です。")
        
class Soccer(Person):
    """サッカー選手"""
    def kick(self):
        print("キック")
        
class Baseball(Person):
    """野球選手"""
    def catch(self):
        print("キャッチ")
        
tarou = Soccer("太郎", 25)
tarou.kick()
tarou.introduce()

jirou = Baseball("次郎", 27)
jirou.catch()
jirou.introduce()

キック
私の名前は太郎です。25歳です。
キャッチ
私の名前は次郎です。27歳です。

In [188]:
class Class_A():
    def __init__(self, x, y):
        self.x = x
        self.y = y
        
    def print_v(self):
        print(f"x = {self.x}, y = {self.y}")
        
class Class_B(Class_A):
    def __init__(self, x, y, z):
        super().__init__(x, y)
        self.z = z
        
    def print_v(self):
        super().print_v()
        print(f"z = {self.z}")
        
obj_A = Class_B(10, 20, 30)
obj_A.print_v()

obj_B = Class_A(30, 40)
obj_B.print_v()

x = 10, y = 20
z = 30
x = 30, y = 40

In [189]:
class Base():
    def test_method(self, msg):
        print(f"Base : {msg}")
        
class sub(Base):
    def test_method(self, msg):
        print(f"sub : {msg}")
        super().test_method(msg)
        
new = sub()
new.test_method("菅原")

sub : 菅原
Base : 菅原

In [190]:
class Parent:
    def __init__(self, a, b):
        self.a = a
        self.b = b
    def w(self):
        return self.b
    
class Child(Parent):
    def w(self):
        return super().w()
    
child = Child(0, "hello")
child.w()

'hello'

In [194]:
class A:
    def __init__(self, name):
        self.name = name
        
class B(A):
    def __init__(self, name, mail):
        super().__init__(name)
        self.mail = mail
        
b = B("菅原", "gmail")
b.name

'菅原'

In [200]:
class Parent:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def my_name(self):
        print(f"私の名前は{self.name}, 年齢は{self.age}")
        
class Child(Parent):
    def __init__(self, name, age):
        super().__init__(name, age)
        
    def my_hello(self):
        print("こんにちは")
        
yamada = Child("山田", 25)
yamada.my_hello()
yamada.my_name()

こんにちは
私の名前は山田, 年齢は25

In [201]:
class Student:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def math(self, score):
        print(score)
        
class Grade1(Student):
    def __init__(self, name, age):
        super().__init__(name, age)
        print(f"Name : {self.name}")
        print(f"Age : {self.age}")
        
    def english(self, score):
        print(score)
        
yamada = Grade1("yamada", 25)
yamada.english(300)

satou = Student("satou", 35)
satou.math(500)

Name : yamada
Age : 25
300
500

In [206]:
class Base:
    def __init__(self, num):
        self.num = num
        
class Multi(Base):
    def __init__(self, num):
        super().__init__(num)
        self.num *= 10
        
class Add(Base):
    def __init__(self, num):
        super().__init__(num)
        self.num += 6
        
class Multiplex(Add, Multi):
    def __init__(self, num):
        super().__init__(num)
        
M = Multiplex(5)
print(M.num)

56

In [207]:
class test:
    def __init__(self):
        self.name = ""
        
a1 = test()
a1.name = "suzuki"
print(a1.name)

suzuki

In [209]:
class test:
    count = 0
    
    def __init__(self):
        test.count += 1
        
a1 = test()
a2 = test()
a3 = test()
print(test.count)

3

In [ ]:
class MyClass:
    pass

a1 = MyClass()
a1.name2 = "tanaka"

In [215]:
class Myclass:
    name = ""
    def setName(self, name):
        self.name = name
        return self.name
        
a = Myclass()
b = a.setName("tanaka")
print(b)

tanaka

In [217]:
class MyClass:
    def __init__(self, name):
        self.name = name
    def getName(self):
        return self.name
    
a = MyClass("tanaka")
print(a.getName())

tanaka

In [220]:
class MyClass:
    def __init__(self):
        print("INIT")
    def __del__(self):
        print("DEL")
        
a = MyClass()
del a

INIT
DEL

In [223]:
class Myclass:
    def __init__(self, name):
        self.name = name
        
    def __str__(self):
        return "My name is" + self.name
    
a = Myclass("菅原")
print(a)

My name is菅原

In [233]:
class Myclass:
    def hello(self):
        print("hello")
        
class Myclass2(Myclass):
    def hello(self):
        print("hello hello")
        
a = Myclass2()
a.hello()

b = Myclass()
b.hello()

hello hello
hello

In [230]:
class Myclass:
    def __init__(self):
        self.val1 = 123
        
class Myclass2(Myclass):
    def __init__(self):
        super().__init__()
        self.val2 = 456
        
a = Myclass()
b = Myclass2()
print(a.val1)
print(b.val2)

123
456

In [234]:
def add(x, y):
    return x + y

print(add(10, 20))

30

In [236]:
def add(x, y):
    ans = x + y
    return ans

n = add(10, 20)
print(n)

30

In [238]:
def func():
    return 3, "ABC"

x, y = func()
print(x)
print(y)
print(x, y)

3
ABC
3 ABC

In [243]:
def r_msg(msg, r=1):
    for i in range(r):
        print(msg, i)
        
r_msg("hello")
r_msg("hello", 5)

hello 0
hello 0
hello 1
hello 2
hello 3
hello 4

In [244]:
myfunc = lambda x, y : x + y
print(myfunc(10, 20))

30

In [247]:
a = [1, 2, 3]
l = (list(map(lambda x : x ** 2, a)))
print(l)

[1, 4, 9]