In [ ]:
#1～5までのリストを作成し、4と5だけに2を乗算して表示させる。

In [2]:
result = [i * 2 for i in range(1, 6) if i > 3]
print(result)

[8, 10]

In [3]:
my_list = [1, 2, 3, 4, 5]

result = [i * 2 for i in my_list if i > 3]
print(result)

[8, 10]

In [ ]:
#1～5までの値にそれぞれ2を加算して奇数のみ表示させる。

In [4]:
result = [i + 2 for i in range(1, 6) if i % 2 != 0]
print(result)

[3, 5, 7]

In [6]:
result = []

for i in range(1, 10):
    if i % 2 != 0:
        result.append("odd")
    else:
        result.append("even")
        
print(result)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [7]:
x = [0, -20, 9, 7]

def twice(num):
    return num * 2

result = list(map(twice, x))
print(result)

[0, -40, 18, 14]

In [10]:
x = [0, -20, 9.1, 7]

result = list(map(abs, x))
print(result)

[0, 20, 9.1, 7]

In [12]:
def my_sun(*args):
    return sum(args)

print(my_sun(1, 2, 3))

6

In [13]:
def my_sum(*args):
    print("args:", args)
    print("type:", type(args))
    print("sum:", sum(args))
    
my_sum(1, 2, 3)

args: (1, 2, 3)
type: <class 'tuple'>
sum: 6

In [16]:
def func_args(arg1, arg2, *args):
    print("arg1:", arg1)
    print("arg2:", arg2)
    print("args:", args)
    
func_args(1, 2, 3, 4)
func_args(0, 1)

arg1: 1
arg2: 2
args: (3, 4)
arg1: 0
arg2: 1
args: ()

In [17]:
def func_kwargs(**kwargs):
    print("kwargs:", kwargs)
    print("type:", type(kwargs))
    
func_kwargs(k1 = 1, k2 = 2, k3 = 3)

kwargs: {'k1': 1, 'k2': 2, 'k3': 3}
type: <class 'dict'>

In [18]:
def func_kwargs(arg1, arg2, **kwargs):
    print("arg1:", arg1)
    print("arg2:", arg2)
    print("kwargs:", kwargs)
    
func_kwargs(1, 2, k1 = 1, k2 = 2)

arg1: 1
arg2: 2
kwargs: {'k1': 1, 'k2': 2}

In [20]:
a = 2
result = "even" if a % 2 == 0 else "odd"
print(result)

even

In [22]:
a = 2
result = "even" if a % 2 == 0 else "odd"
print(result)

even

In [24]:
a = 2
result = a * 10 if a % 2 == 0 else a * 100
print(result)

20

In [25]:
a = -2
result = "even" if a < 0 and a % 2 == 0 else "odd"
print(result)

even

In [28]:
get_odd_even = lambda x: "even" if x % 2 == 0 else "odd"
get_odd_even(2)

'even'

In [35]:
def func(a, b, x):
    print(f"{a}, {b}, {x}")
    
my_list = {"a":1, "b":2, "x":3}
func(**my_list)

1, 2, 3

In [36]:
def func(a, b):
    return print(a + b)

func(3, 4)

7

In [37]:
def func(x, y):
    return x + y

a = func(0.3, 0.4)
print(type(a))

<class 'float'>

In [38]:
t = [0, 1, 2]

a, b, c = t
print(a, b, c)

0 1 2

In [39]:
t = [0, 1, 2, 3, 4, 5]

a, b, *c = t
print(a, b, c)

0 1 [2, 3, 4, 5]

In [40]:
def test_list(x, y):
    return [x, y]

result = test_list(10, 20)
print(result)

[10, 20]

In [42]:
l = [-2, -1, 0, 1, 2]

r = list(filter(lambda x: x % 2 == 0, l))
print(r)

[-2, 0, 2]

In [43]:
l = [-2, -1, 0, 1, 2]

print(list(filter(lambda x: x % 2 != 0, l)))

[-1, 1]

In [44]:
def isEven(x):
    return x % 2 == 0

l = [-2, -1, 0, 1, 2]

print(list(filter(isEven, l)))

[-2, 0, 2]

In [83]:
class Person:
    #初期設定
    def __init__(self, name, nationality, age):
        self.name = name
        self.nationality = nationality
        self.age = age
        
        def __call__(self):
            print("ここはcall関数です。")
            
        def say_hello(self):
            print("こんにちは。私は{self.name}です。")

In [84]:
class Saiyan(Person):
    def __init__(self, name, nationality, age, strength):
        super().__init__(name, nationality, age)
        self.strength = strength

In [85]:
goku = Saiyan("悟空", "宇宙", 15, 10000)

In [82]:
goku.name

'悟空'

In [81]:
goku.strength

10000

In [80]:
goku.age

15

In [89]:
goku.say_hello

AttributeError: 'Saiyan' object has no attribute 'say_hello'